
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body{
   background-color: #7FDBFF;
}

.app {
   padding-top: 50px;

}

.form-box {
  width: 80%;
  max-width: 280px;
  margin: 0 auto;


  * {
    border-radius: 0;
  }
}


.contact-item{

   overflow:hidden;
   button{
      overflow:hidden;
      position: absolute;
      right: 0px;
      top:0;
      bottom: 0;

      width: 0;
      opacity: 0;

      transition: width .3s, opacity .3s;

      .glyphicon {
         font-size: 24px;

      }


   }
   &:hover button{
      width: 100px;
      opacity: 1;
   }
}

.form-group {
  margin-bottom: 12px;

}


ul{
   *{
      border-radius: 0 !important;
   }
}
